[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=vesktop --ozone-platform=wayland --ozone-platform-hint=auto --enable-features=AcceleratedVideoDecodeLinuxGL,AcceleratedVideoEncoder,VaapiOnNvidiaGPUs,VaapiVideoDecoder --use-angle=vulkan --use-cmd-decoder=passthrough
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/discord-ptb.png
StartupNotify=true
